<t-menu>
     <t-submenu label="About" >
         <!-- use anchor tags!! -->
        <t-item aria-selected onClick="redirect('/about')" label="About"></t-item>
        <t-item onClick="redirect('/status')" label="Status"></t-item>
        <t-item onClick="redirect('/samples')" label="Samples"></t-item>
     </t-submenu>
    <!-- use anchor tags!! -->
    <t-item onClick="redirect('/settings')" label="Settings"></t-item>
    <t-submenu label="Elements" >
        {% for category in site.data.categories %}
            {% assign component_pages = site.pages | where:"component_category",category.name %}
            {% if component_pages.size > 0 %}
                <t-submenu
                    label="{{ category.displayName }}"
                    {% if category.opened %} aria-selected {% endif %}>
                    {% for page in component_pages %}
                        <t-item
                            class="component-link"
                            label="{{ page.component_display_name }}"
                            data-component="{{ page.component_name }}"
                            onclick="redirect('{{ site.base_url }}/elements/{{ page.component_display_name | slugify  }}.html')"
                            data-category="{{ category.name }}">
                        </t-item>
                    {% endfor %}
                </t-submenu>
            {% endif %}
        {% endfor %}
    </t-submenu>
</t-menu>

<script>
    //this is __BAD__, first of all it shouldn't be global function
    //second if this function doesn't do much apart from simple plain
    //redirection then it should be handled using anchor tags
    function redirect(url) {
        window.location = url;
    }
</script>
