<t-menu>
     <t-submenu label="About" >
         <!-- use anchor tags!! -->
        <t-item aria-selected onClick="redirect('/about')" label="About"></t-item>
        <t-item onClick="redirect('/status')" label="Status"></t-item>
        <t-item onClick="redirect('/samples')" label="Samples"></t-item>
     </t-submenu>
    <!-- use anchor tags!! -->
    <t-item onClick="redirect('/settings')" label="Settings"></t-item>
    <t-submenu label="Elements" >
        {% for category in site.data.components %}
            <t-submenu
                label="{{ category.displayName }}"
                {% if category.opened %} aria-selected {% endif %}>
                {% for component in category.components %}
                    <t-item
                        class="component-link"
                        label="{{ component.displayName }}"
                        data-component="{{ component.name }}"
                        data-category="{{ category.category }}"
                        aria-selected="{{ component.selected }}">
                    </t-item>
                {% endfor %}
            </t-submenu>
        {% endfor %}
    </t-submenu>
</t-menu>

<script type="text/javascript" src="/scripts/elements.js"></script>
<script>
    //this is __BAD__, first of all it shouldn't be global function
    //second if this function doesn't do much apart from simple plain
    //redirection then it should be handled using anchor tags
    function redirect(url) {
        window.location = url;
    }
</script>
