<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<!-- polyfill for promises -->
<script type="text/javascript" src="../bower_components/es6-promise/promise.js"></script>
<script type="text/javascript" src="../bower_components/fetch/fetch.js"></script>

<dom-module id="build-status">
	<template>
		<style>
			:host {
				display: flex;
				box-sizing: border-box;
				height: 50px;
				width: 100%;
				font-size: 12px;
			}

			.count {
				width: calc(100% - 10px);
				margin: 15px 0;
			}

			.status {
				height: 10px;
				width: 10px;
				border-radius: 50% 50%;
				margin: 19px 0;
				background-color: gray;
			}

			.green {
				box-shadow: 0 0 4px green;
				background-color: green;
			}

			.red {
				box-shadow: 0 0 4px red;
				background-color: red;
			}
		</style>

		<span class="count">Total Elments: {{elementIds.length}}</span>
		<span class$="{{calculateClasses(buildsOk, 'status')}}"></span>
	</template>
	<script>
		Polymer({
			is: 'build-status',

			properties: {
				elementIds: {
					type: Array,
					value: function() {
						return [];
					},
					observer: 'elementsChanged'
				},

				buildsOk: {
					type: Boolean,
					notify: true,
					value: null
				},

				elementIdsFilePath: {
					type: String
				}
			},

			getJson: function(url) {
				return fetch(url).then(function(resp) {
				//TODO: will other response status codes do for our task?
					if (resp.status === 200) {
						return resp.json();
					}

					return Promise.reject();
				}.bind(this));
			},

			ready: function() {
				if (!this.elementIdsFilePath) {
					return;
				}

				//TODO: How can we optimize this?
				this.getJson(this.elementIdsFilePath)
					.then(function(elementIds) {
						this.elementIds = elementIds;
					}.bind(this));
			},

			elementsChanged: function() {
				var baseApiEndPoint = 'https://api.travis-ci.org/repos';
				var elementIds = this.elementIds;
				var that = this;
				var undefinedIds;

				if (!elementIds || elementIds.length < 1) {
					return;
				}

				undefinedIds = elementIds.filter(function(id) {
					return !Boolean(id);
				});

				if (Boolean(undefinedIds.length)) {
					console.log('Some components don\'t have travis setup.');
					console.log('No status will be shown');

					return;
				}

				Promise.all(elementIds.map(function(id) {
					//call the travis api for builds on master branch
					var api = baseApiEndPoint + '/' + id + '/branches/master';

					return that.getJson(api);
				})).then(function(statuses) {
					var notSuccessful = statuses.filter(function(status) {
						return status.branch.state !== 'passed';
					});

					//if any build hasn't passed then show a red status
					that.buildsOk = !Boolean(notSuccessful.length);
				}).catch(function() {
					//if execution reached this point then either of following
					//things must have happened.
					//1. Travis hasn't been setup for some element
					//2. Master branch hasn't been built for some element
					//3. Network or some other error happened
					console.warn('No status will be shown');
				});
			},

			calculateClasses: function(buildsOk, initial) {
				if (buildsOk === null || buildsOk === undefined) {
					return initial;
				}

				return initial + ' ' + (buildsOk ? 'green' : 'red');
			},
		});
	</script>
</dom-module>
