<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/highlightjs-element/highlightjs-element.html">
<link rel="import" href="../bower_components/code-generator-behavior/code-generator-behavior.html">
<link rel="import" href="../bower_components/code-generator-behavior/html-beautify.html">

<dom-module id="element-code">
  <template>
    <style>
      :host {
        display: block;
        font-size: 14px;
        margin: 10px 0;
      }

      [hidden] {
        display: none;
      }

      highlightjs-element,
      pre {
        padding: 5px 0;
        border: 1px solid;
        border-color: var(--grey-two);
        border-radius: 5px;
      }

      pre {
        overflow: auto;
      }

      :host > * {
        padding-left: 0.5em;
      }

      .step-1, .step-2 {
        padding-left: 1em;
      }

      .substep {
        padding-left: 1em;
      }

      h3 {
        font-weight: 600;
        padding-top: 25px;
      }

      h4, h5 {
        font-weight: normal;
      }

      h5 {
        font-size: inherit;
      }
    </style>

    <h3>Element code</h3>
    <highlightjs-element text="{{elCode}}">
    </highlightjs-element>

    <h3>To use this element on a web page</h3>

    <h4>Step 1: Get the dependencies</h4>
    <div class="step-1">
      <p>
        You need two files for using this element, the polyfill library
        <code>webcomponentsjs</code> and <code><span>{{elName}}</span>.html</code> file,
        the third file <code>theme.html</code> contains styles so that your element looks good.<br>
        You can either use a package manager like <b>bower</b> to install the files and then
        use them or a <b>CDN</b> to include the files directly on your web page.
      </p>

      <h4>Option 1: CDN (Recommended for quick and simple usage)</h4>
      <highlightjs-element
        text="{{cdnImports(elName, elDispName, elDependencies, showDs)}}">
      </highlightjs-element>

      <h4>Option 2: Bower (Recommended for production usage)</h4>

      <div class="substep">
        <h5>Install the libraries</h5>
        <pre><code>{{bowerInstalls(elName, elOrgName, elDependencies, showDs)}}</code></pre>

        <h5>Include the files</h5>
        <highlightjs-element
          text="{{bowerImports(elName, elDependencies, showDs)}}">
        </highlightjs-element>
      </div>
    </div>

    <h4>Step 2: Add the element code</h4>
    <div class="step-2">
      <p>
        Once you've got the requisite depenedencies on your web page, all you need
        to do is <b>copy</b> the code in <b>Element Code</b> section and paste it in
        your web page.
      </p>
    </div>
  </template>
  <script>
    Polymer({
      is: 'element-code',

      behaviors: [
        Polymer.CodeGeneratorBehavior,
      ],

      properties: {
        elCode: {
          type: String,
          notify: true,
          computed: 'updateCode(elName, elHtml, elAttribs.*, dataSources.*)'
        },

        elName: {
          type: String,
          observer: 'nameChanged'
        },

        elDispName: {
          type: String,
        },

        elHtml: {
          type: String
        },

        elAttribs: {
          type: Object
        },

        elOrgName: {
          type: String
        },

        elDependencies: {
          type: Array
        },

        showDs: {
          type: Boolean,
          computed: 'getShowDs(dataSources.*)'
        },

        dataSources: {
          type: Object,
          value: function() { return {}; }
        }
      },

      //TODO: this will be set on prototype of the element, allow this?
      beautifyOpts: {
        wrap_line_length: 80,
      },

      getShowDs: function() {
        return Object.keys(this.dataSources).reduce(function(showDs, key) {
          return showDs || Boolean(this.dataSources[key].showDs);
        }.bind(this), false);
      },

      bowerInstalls: function(elName, elOrgName, elDependencies, showDs) {
        var installs = 'bower install --save ';

        installs += elOrgName + '/' + elName + '#master ';

        installs += elDependencies
          .map(function(dep) {
            return dep.install;
          })
          .filter(function(dep, i, deps) {
            return dep && deps.indexOf(dep) === i;
          })
          .reduce(function(total, dep) {
            return total + dep + ' ';
          }, '');

        if (showDs) {
          installs += 'atomproject/dynamic-data-source ';
        }

        return installs;
      },

      cdnImports: function(elName, elDispName, elDependencies, showDs) {
        // TODO: this url will different for each project
        var baseDomain = 'https://atomproject.github.io/elements/';

        baseDomain += elDispName + '/bower_components';

        return this.getDeps(elName, elDependencies, showDs, baseDomain);
      },

      bowerImports: function(elName, elDependencies, showDs) {
        var baseDomain = '{{ path to bower_components dir }}';

        return this.getDeps(elName, elDependencies, showDs, baseDomain);
      },

      getDeps: function(elName, elDependencies, showDs, baseDomain) {
        var elSrc = elName + '/' + elName + '.html';
        var ds = 'dynamic-data-source/dynamic-data-source.html';

        elDependencies = elDependencies.slice();
        elDependencies.push({relPath: elSrc, type: 'link'});

        if (showDs) {
          elDependencies.push({relPath: ds, type: 'link'});
        }

        return elDependencies
          .map(function(dep) {
            var url = baseDomain + '/' + dep.relPath;

            if (dep.type === 'script') {
              return this.scriptTemplate(url);
            }
            else if (dep.type === 'link') {
              return this.linkTemplate(url);
            }
            else {
              return '';
            }
          }.bind(this))
          .join('\n');
      },

      scriptTemplate: function(src) {
        //we can't have either script start tag or script end tag inside
        //the string literal because polymer html parser dies
        return '<' + 'script type="text/javascript" src="' + src + '">' +
               '</' + 'script' + '>';
      },

      linkTemplate: function(href) {
        return '<link rel="import" href="' + href + '">';
      },

      nameChanged: function() {
        this.elAttribs = {};
        this.elHtml = '';
      },

      updateCode: function() {
        var name = this.elName;
        var attribs = this.elAttribs;
        var innerHTML = this.elHtml;
        var code = this.getComponentCode(name, attribs, innerHTML);

        if (this.dataSources) {
          Object.keys(this.dataSources).forEach(function(key) {
            var ds = this.dataSources[key];

            if (!ds.showDs) {
              return;
            }

            code += this.getComponentCode(ds.name, ds.attribs);
          }.bind(this));
        }

        return window.html_beautify(code, this.beautifyOpts);
      }
    });
  </script>
</dom-module>
