<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/highlightjs-element/highlightjs-element.html">
<link rel="import" href="../bower_components/code-generator-behavior/code-generator-behavior.html">

<script type="text/javascript" src="../bower_components/js-beautify/js/lib/beautify-html.js"></script>

<dom-module id="t-component-code">
	<template>
		<style>
			:host {
				display: block;
				font-size: 14px;
				margin: 10px 0;
			}

			[hidden] {
				display: none;
			}

			highlightjs-element {
				padding: 5px 0;
				border: 1px solid;
		        border-color: var(--grey-two);
				border-radius: 5px;
			}

			:host > * {
				padding-left: 0.5em;
			}

			.step-1, .step-2 {
				padding-left: 1em;
			}

			.substep {
				padding-left: 1em;
			}

			h3 {
				font-weight: 600;
				padding-top: 25px;
			}

			h4, h5 {
				font-weight: normal;
			}

			h5 {
				font-size: inherit;
			}
		</style>
		
		<h3>Element code</h3>
		<highlightjs-element text="{{elementCode}}">
		</highlightjs-element>

		<h3>To use this element on a web page</h3>

		<h4>Step 1: Get the dependencies</h4>
		<div class="step-1">
			<p>
				You need two files for using this element, the polyfill library
				<code>webcomponentsjs</code> and <code><span>{{componentName}}</span>.html</code> file,
				the third file <code>theme.html</code> contains styles so that your component looks good.<br>
				You can either use a package manager like <b>bower</b> to install the files and then
				use them or a <b>CDN</b> to include the files directly on your web page.
			</p>

			<h4>Option 1: CDN (Recommended for quick and simple usage)</h4>
			<highlightjs-element text="{{cdnImports(componentName, componentDisplayName)}}">
			</highlightjs-element>

			<h4>Option 2: Bower (Recommended for production usage)</h4>

			<div class="substep">
				<h5>Install the libraries</h5>
				<highlightjs-element lang="bash"
					text="{{bowerInstalls(componentName, orgName)}}">
				</highlightjs-element>

				<h5>Include the files</h5>
				<highlightjs-element text="{{bowerImports(componentName)}}">
				</highlightjs-element>
			</div>
		</div>

		<h4>Step 2: Add the element code</h4>
		<div class="step-2">
			<p>
				Once you've got the requisite depenedencies on your web page, all you need
				to do is <b>copy</b> the code in <b>Element Code</b> section and paste it in
				your web page.
			</p>
		</div>
	</template>
	<script>
		Polymer({
			is: 't-component-code',

			behaviors: [
				Polymer.CodeGeneratorBehavior,
			],

			properties: {
				elementCode: {
					type: String,
					notify: true,
					computed: 'updateCode(componentName, componentHtml, componentAttributes.*)'
				},

				componentName: {
					type: String,
					observer: 'nameChanged'
				},

		        componentDisplayName: {
		          type: String,
		        },

				componentHtml: {
					type: String
				},

				componentAttributes: {
					type: Object
				},

				orgName: {
					type: String
				}
			},

			//TODO: this will be set on prototype of the element, allow this?
			beautifyOpts: {
				wrap_line_length: 80,
			},

			bowerInstalls: function(name, orgName) {
				var installs = 'bower install --save ';

				installs += 'webcomponentsjs ';
				installs += orgName + '/' + name + ' ';
				installs += orgName + '/t-shared-components ';

				return installs;
			},

			cdnImports: function(name, displayName) {
				var baseDomain = 'https://atomproject.github.io/elements/';
				var polyfillSrc = 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.18/webcomponents-lite.min.js';
				//TODO: the component repo name can be different, handle it.
				var componentRepoName = name;
				var componentSrc = '/' + componentRepoName + '/' + name + '.html';
				var themeSrc = '/t-shared-components/theme.html';

		        baseDomain += displayName + '/bower_components';
				componentSrc = baseDomain + componentSrc;
				themeSrc = baseDomain + themeSrc;

				return this.serializeImports(polyfillSrc, componentSrc, themeSrc);
			},

			bowerImports: function(name) {
				var baseDomain = '{{ path to bower_components dir }}';
				var polyfillSrc = '/webcomponentsjs/webcomponents-lite.js';
				//TODO: the component repo name can be different, handle it.
				var componentRepoName = name;
				var componentSrc = '/' + componentRepoName + '/' + name + '.html';
				var themeSrc = '/t-shared-components/theme.html';

				polyfillSrc = baseDomain + polyfillSrc;
				componentSrc = baseDomain + componentSrc;
				themeSrc = baseDomain + themeSrc;

				return this.serializeImports(polyfillSrc, componentSrc, themeSrc);
			},

			serializeImports: function(polyfillSrc, componentSrc, themeSrc) {
				var imports = [];

				//we can't have either script start tag or script end tag inside
				//the string literal because polymer html parser dies
				imports.push('<' + 'script type="text/javascript" src="' + polyfillSrc + '"></' + 'script' + '>');
				imports.push('<link rel="import" href="' + componentSrc + '">');
				imports.push('<link rel="import" href="' + themeSrc + '">');

				return imports.join('\n');
			},

			nameChanged: function(newName) {
				this.componentAttributes = {};
				this.componentHtml = '';
			},

			updateCode: function() {
				var name = this.componentName;
				var attribs = this.componentAttributes;
				var innerHTML = this.componentHtml;
				var code = this.getComponentCode(name, attribs, innerHTML);
				
				return window.html_beautify(code, this.beautifyOpts);
			}
		});
	</script>
</dom-module>