<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="highlightjs-element/highlightjs-element.html">

<script type="text/javascript" src="../bower_components/js-beautify/js/lib/beautify-html.js"></script>

<dom-module id="t-component-code">
	<template>
		<style>
			:host {
				display: block;
				font-size: 14px;
				margin: 10px 0;
			}

			[hidden] {
				display: none;
			}

			highlightjs-element {
				margin-top: 25px;
				padding: 5px 0;
				border: 1px solid;
		        border-color: var(--grey-two);
				border-radius: 5px;
			}

			h3 {
				padding-left: 0.5em;
			}
		</style>
		
		<h3>Component Code</h3>
		<highlightjs-element text="{{elementCode}}">
		</highlightjs-element>
	</template>
	<script>
		Polymer({
			is: 't-component-code',

			properties: {
				elementCode: {
					type: String,
					notify: true,
					computed: 'updateCode(componentName, componentHtml, componentAttributes.*)'
				},

				componentName: {
					type: String,
					observer: 'nameChanged'
				},

				componentHtml: {
					type: String
				},

				componentAttributes: {
					type: Object
				}
			},

			nameChanged: function(newName) {
				this.componentAttributes = {};
				this.componentHtml = '';
			},

			updateCode: function() {
				var keys = Object.keys(this.componentAttributes || {});
				var attributes, startTag, endTag, innerHTML, code;

				if (!this.componentName) {
					return;
				}

				endTag = '</' + this.componentName + '>';
				innerHTML = this.componentHtml || '';
				//iterate over all the attributes and create
				//the attribute list for use in start tag
				attributes = keys.map(function(key) {
					var attr = Polymer.CaseMap.camelToDashCase(key);
					var value = this.componentAttributes[key];

					//attribute values can be of only two types
					//Boolean or String
					if (this.isBoolean(value)) {
						if (value) {
							//only output the key
							return key;
						} else {
							return;
						}
					}

					//so the value is not Boolean then it is of type String
					value = this.serialize(value);

					//output the attribute and value pair of
					return key + '="' + this.escapeHtml(value) + '"';
				}.bind(this)).filter(function(item) {
					//remove the falsy items from the list
					return Boolean(item);
				}).join(' ');

				attributes = attributes ? (' ' + attributes) : '';
				startTag = '<' + this.componentName + attributes + '>';

				code = startTag + innerHTML + endTag;

				return window.html_beautify(code);
			},

			isBoolean: function(value) {
				var toString = Object.prototype.toString;

				//better than `typeof`
				return toString.call(value) === '[object Boolean]';
			},

			escapeHtml: function(string) {
				var entityMap = {
				    "&": "&amp;",
				    "<": "&lt;",
				    ">": "&gt;",
				    '"': '&quot;',
				    "'": '&#39;',
				    "/": '&#x2F;'
				};

			    return String(string).replace(/[&<>"'\/]/g, function (s) {
					return entityMap[s];
			    });
			}
		});
	</script>
</dom-module>