<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/t-device-view/t-device-view.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/t-button/t-button.html">
<link rel="import" href="t-component-panel/t-component-panel.html">
<link rel="import" href="t-component-code">
<link rel="import" href="t-device-toggle">

<dom-module id="t-demo-atom">
	<template>
    <style>
      :host {
        display: block;
        position: relative;
        height: 100%;
      }

      #filterDrawerPanel [main] {
        background-color: #fff;
      }

      #filterDrawerPanel [drawer] {
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: var(--grey-two);
      }

      .right-panel {
        height: 100%;
      }

      .header {
        height: 45px;
      }

      .body {
        max-height: calc(100% - 45px);
        margin: 10px 0;
        overflow: auto;
      }

      div[main] {
        padding: 8px 16px;
      }

      t-device-toggle {
        border-bottom: 1px solid;
        border-color: var(--grey-two);
      }

      t-component-code {
        margin-top: 20px;
      }

      hr {
        border: 1px solid;
        border-color: var(--grey-one);
      }
    </style>

  	<paper-drawer-panel id="filterDrawerPanel" class="main-drawer-panel"
      transition disable-swipe right-drawer responsive-width="1100px"
      main drawer-width="{{filterWidth}}" on-paper-responsive-change="_setWidth"
      drawer-toggle-attribute="filter-toggle">

        <div class="layout vertical" selected main>
          <div class="header">
            <t-button ico="filter-list" only-icon filter-toggle paper-drawer-toggle>
            </t-button>
          </div>
          <div class="body" active$="{{activated}}" >
            <device-view device="{{device}}" landscape="{{landscape}}">
              <iframe id="demo" src="{{demoFile}}" frameborder="0"></iframe>
            </device-view>
            <hr>
            <t-component-code id="code" component-name="[[componentName]]"></t-component-code>
          </div>
        </div>
        <div drawer>
          <div class="right-panel layout vertical">
            <t-device-toggle device="{{device}}" landscape="{{landscape}}">
            </t-device-toggle>
            <div style="overflow:auto;">
              <t-component-panel
                on-property-changed="propertyChanged"
                property-source="{{propertiesFile}}"
                component="{{componentName}}">
              </t-component-panel>
            </div>
          </div>
        </div>

    </paper-drawer-panel>
  </template>
  <script>
    Polymer({

      is: 't-demo-atom',

      properties:{
        /*filter width for handling responsive*/
        filterWidth: String,
        propertiesFile: String,
        componentName: String,
        demoFile: String,

        landscape: {
          type: Boolean,
          value: false,
          notify: true
        },

        device: {
          type: String,
          value: 'laptop',
          notify: true
        },

        /*activated the  toggle of code section*/
        activated:{
          type:Boolean,
          value:false,
          reflectToAttribute:true
        }
      },

      _queue: undefined,
      _demoComponent: undefined,

      ready: function() {
        this._queue = {};
      },

      attached: function() {
        if (this._demoComponent) {
          return;
        }

        //I don't know why this works but getting the iframe's
        //contentWindow using `this.$.demo.contentWindow` resulted
        //in nothing, the `_demoComponent` cannot be queried until
        window.addEventListener('load', function() {
          var iframe = document.querySelector('#demo');
          var iframeDoc = iframe.contentWindow.document;
          var targetComponent = iframeDoc.querySelector(this.componentName);

          this._demoComponent = targetComponent;

          this.updateCode();
        }.bind(this));
      },

      updateCode: function() {
        var properties = this._demoComponent.properties;
        var propertyKeys = Object.keys(properties);

        propertyKeys.forEach(function(propertyKey) {
          var value = this._queue[propertyKey];

          //the values in queue have higher priority
          //than the values provided directly on the markup
          if (value === undefined || value === null) {
            value = this._demoComponent[propertyKey];
          } else {
            //delete the property from queue
            delete this._queue[propertyKey];
          }

          //check if the value should reflect
          if (value === 0 || value) {
            //update the targets
            this.updateTargets(propertyKey, value);
          }
        }.bind(this));
      },

      propertyChanged: function(event) {
        var key, value;

        if (!event.detail) {
          return;
        }

        key = event.detail.key;
        value = event.detail.value;

        if (!this._demoComponent) {
          //if the target is not available yet then queue up
          //the values for later application
          this._queue[key] = value;
        } else {
          this.updateTargets(key, value);
        }
      },
      
      updateTargets: function(key, value) {
        this._demoComponent[key] = value;
        this.$.code.set('componentAttributes.' + key, value);
      },
      //calculate the width and put value
      _setWidth:function(){
        var winWid =  window.innerWidth;

        this.filterWidth = (winWid < 600 ? '75%' : '300px');
      }
    });
  </script>
</dom-module>
