<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="tri-state-switch.html">

<dom-module id="t-device-toggle">
	<template>
		<style>
			:host {
				display: block;
			}

			#laptop, #tablet, #phone {
				border-right: 1px solid;
				border-color: var(--grey-two);
			}

			paper-button {
			  color: #bbb;
			  margin: 0;
			  min-width: 0;
			  padding: 8px 0;
			}

			paper-button[active],
			#tablet[state="1"],
			#phone[state="1"],
			#tablet[state="0"],
			#phone[state="0"] {
			  background-color: #eee;
			}

			#tablet iron-icon,
			#phone iron-icon {
			  -webkit-transition: 0.3s ease all;
				transition: 0.3s ease all;
			}

			#tablet[state="1"] iron-icon,
			#phone[state="1"] iron-icon {
				-webkit-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}

			tri-state-switch {
				text-align: center;
			}
		</style>

		<div class="layout horizontal">
			<paper-button class="flex" id="laptop" active on-tap="activateLaptop">
				<iron-icon icon="hardware:laptop"></iron-icon>
			</paper-button>

			<tri-state-switch class="flex" id="tablet" on-state-changed="activateTablet">
				<paper-button>
					<iron-icon icon="hardware:tablet-mac"></iron-icon>
				</paper-button>
			</tri-state-switch>

			<tri-state-switch class="flex" id="phone" on-state-changed="activatePhone">
				<paper-button>
					<iron-icon icon="hardware:smartphone"></iron-icon>
				</paper-button>
			</tri-state-switch>

			<content></content>
		</div>
	</template>
	<script>
		Polymer({
			is: 't-device-toggle',

			properties: {
				device: {
					type: String,
					value: 'laptop',
					notify: true
				},

				landscape: {
					type: Boolean,
					value: false,
					notify: true
				}
			},

			activateLaptop: function() {
				this.device = 'laptop';
				//activate the laptop
				this.$.laptop.active = true;
				//reset the sates of other devices
				this.$.tablet.state = -1;
				this.$.phone.state = -1;
			},

			activateTablet: function(event, change) {
				if (change.value > -1) {
					this.device = 'tablet';
					//reset the sates of other devices
					this.$.laptop.active = false;
					this.$.phone.state = -1;
				}

				this.changeLandscape(change);
			},

			activatePhone: function(event, change) {
				if (change.value > -1) {
					this.device = 'phone';
					//reset the sates of other devices
					this.$.laptop.active = false;
					this.$.tablet.state = -1;
				}

				this.changeLandscape(change);
			},

			changeLandscape: function(change) {
				if (change.value > 0) {
					this.landscape = true;
				} else {
					this.landscape = false;
				}
			}
		});
	</script>
</dom-module>
