<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/t-device-view/t-device-view.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/t-button/t-button.html">
<link rel="import" href="t-component-panel/t-component-panel.html">
<link rel="import" href="t-component-code">
<link rel="import" href="t-device-toggle">

<dom-module id="t-demo-atom">
	<template>
    <style>
      :host {
        display: block;
        position: relative;
        height: 100%;
      }

      #filterDrawerPanel [main] {
        background-color: #fff;
      }

      #filterDrawerPanel [drawer] {
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: var(--grey-two);
      }

      .right-panel {
        height: 100%;
      }

      .header {
        height: 45px;
      }

      .body {
        max-height: calc(100% - 45px);
        margin: 10px 0;
        overflow: auto;
      }

      div[main] {
        padding: 8px 16px;
      }

      t-device-toggle {
        border-bottom: 1px solid;
        border-color: var(--grey-two);
      }

      t-component-code {
        margin-top: 20px;
      }

      hr {
        border: none;
        border-bottom: 1px solid;
        border-color: var(--grey-one);
      }
    </style>

  	<paper-drawer-panel id="filterDrawerPanel" class="main-drawer-panel"
      transition disable-swipe right-drawer responsive-width="1100px"
      main drawer-width="{{filterWidth}}" on-paper-responsive-change="_setWidth"
      drawer-toggle-attribute="filter-toggle">

        <div class="layout vertical" selected main>
          <div class="header">
            <t-button ico="filter-list" only-icon filter-toggle paper-drawer-toggle>
            </t-button>
          </div>
          <div class="body" active$="{{activated}}" >
            <device-view device="{{device}}" landscape="{{landscape}}">
              <iframe id="demo" src="{{demoFile}}" frameborder="0"></iframe>
            </device-view>
            <hr>
            <t-component-code id="code" component-name="[[componentName]]"></t-component-code>
          </div>
        </div>
        <div drawer>
          <div class="right-panel layout vertical">
            <t-device-toggle device="{{device}}" landscape="{{landscape}}">
            </t-device-toggle>
            <div style="overflow:auto;">
              <t-component-panel id="componentPanel"
                panel-properties="{{panelProperties}}"
                property-source="{{propertiesFile}}"
                component="{{componentName}}">
              </t-component-panel>
            </div>
          </div>
        </div>

    </paper-drawer-panel>
  </template>
  <script>
    Polymer({

      is: 't-demo-atom',

      properties:{
        /*filter width for handling responsive*/
        filterWidth: String,
        propertiesFile: String,
        componentName: String,
        demoFile: String,
        panelProperties: Object,

        landscape: {
          type: Boolean,
          value: false,
          notify: true
        },

        device: {
          type: String,
          value: 'laptop',
          notify: true
        },

        /*activated the  toggle of code section*/
        activated:{
          type:Boolean,
          value:false,
          reflectToAttribute:true
        }
      },

      _demoComponent: undefined,

      //listen to the load event of iframe
      listeners: {
        'demo.load': 'setDemoComponent'
      },

      //update the demo component and html code when
      //property values are updated by the user
      observers: [
        'propertyChanged(panelProperties.*)'
      ],

      ready: function() {
        //if the load event of iframe triggers earlier than the
        //ready callback then `this.componentName` won't be available
        //so we trigger the `setDemoComponent` callback here
        if (!this._demoComponent) {
          this.setDemoComponent();
        }
      },

      //the load event is triggered twice, it shouldn't be a problem
      //but why the heck is it triggered twice?.
      setDemoComponent: function(event) {
        var iframeDoc, targetComponent;

        //the name of the component to find is not available.
        //current method is also called in the `ready` hook
        if (!this.componentName) {
          return;
        }

        iframeDoc = this.$.demo.contentWindow.document;
        targetComponent = iframeDoc.querySelector(this.componentName);

        if (targetComponent) {
          this._demoComponent = targetComponent;
          this.applyProperties();
        }
      },

      canBeChanged: function(propertyAttributes) {
        var defaultValue, isComputed, isReadOnly;

        isComputed = propertyAttributes.computed;
        isReadOnly = propertyAttributes.readOnly;

        //if the property is a computed or read only property then
        //don't touch it
        if (isComputed || isReadOnly) {
          return false;
        }

        return true;
      },

      getDefaultValue: function(propertyAttributes) {
        var defaultValue = propertyAttributes.value;

        //if the defaultValue is not a primitive value
        if (typeof defaultValue === 'function') {
          //we're not calling with `this` since nowhere do docs (polymer)
          //mention that the initializer function __must__ have access
          //to the current element
          return defaultValue.call();
        }

        return defaultValue;
      },

      applyCurrentValue: function(defaultValue, currentValue,
        propertyAttributes) {
        //both the default and current values should be different but
        //they must be of same type. The `stringify` function is needed
        //to handle the eqaulity checks for complex types like objects.
        return currentValue !== undefined &&
          JSON.stringify(defaultValue) !== JSON.stringify(currentValue) &&
          currentValue.constructor.name === propertyAttributes.type.name;
      },

      //Call this method when component to be demoed is available in DOM.
      //Get default property values of the element and show them as attributes
      //in the HTML code
      applyProperties: function() {
        //get the custom properties of the element
        var properties = this._demoComponent.properties;
        var propertyKeys = Object.keys(properties);

        propertyKeys.forEach(function(propertyKey) {
          var panelProperties = this.panelProperties;
          //get the attributes of the property, this is kind of _reflection_
          var propertyAttributes = this._demoComponent.properties[propertyKey];
          var value, defaultValue, currentValue, applyCurrentValue;

          if (!this.canBeChanged(propertyAttributes)) {
            return;
          }

          defaultValue = this.getDefaultValue(propertyAttributes);
          currentValue = this._demoComponent[propertyKey];

          //see if an initial value is provided in the properties panel
          if (propertyKey in panelProperties) {
            value = panelProperties[propertyKey];
          } else if (this.applyCurrentValue(defaultValue, currentValue,
              propertyAttributes)) {
            //since initial value is not provided see if the current value
            //differs from the default value, if it does
            //then update the code and component
            value = currentValue;
          }

          //check if the value should reflect
          if (value !== undefined) {
            //update the targets
            this.updateTargets(propertyKey, value);
          }
        }.bind(this));
      },

      //this callback is triggered on the `property-chaned` event
      //the event is fired by the `t-component-panel`, this callback
      //queues the up the changes to apply if the component to be demoed
      //isn't available.
      propertyChanged: function(change) {
        var key, value;

        if (!this._demoComponent) {
          return;
        }

        //get the key of the property
        key = change.path.split('.')[1];
        value = change.value;

        if (key) {
          this.updateTargets(key, value);
        }
      },
      
      //update the changes to properties
      updateTargets: function(key, value) {
        //update the demo component itself
        this._demoComponent.set(key, value);
        //update the html attributes in code
        this.$.code.set('componentAttributes.' + key, value);
      },

      //calculate the width and put value
      _setWidth:function(){
        var winWid =  window.innerWidth;

        this.filterWidth = (winWid < 600 ? '75%' : '300px');
      }
    });
  </script>
</dom-module>
