<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="tri-state-switch">
	<template>
		<style>
			:host {
				display: inline-block;
			}
		</style>

		<content></content>
	</template>
	<script>
		Polymer({
			is: 'tri-state-switch',

			properties: {
				toggles: {
					type: Boolean,
					value: true
				},

				state: {
					type: Number,
					value: -1,
					notify: true,
					reflectToAttribute: true
				}
			},

			listeners: {
				'tap': 'changeState'
			},

			changeState: function() {
				if (this.state === -1) {
					this.state = 0;
				} else if (this.state === 0) {
					this.state = 1;
				} else if (this.toggles && this.state === 1) {
					this.state = 0;
				}
			}
		});
	</script>
</dom-module>
