<!doctype html>
<html>
<head>

  {% include head.html %}

</head>
<body class="layout horizontal center center-justified">

  <div class="overlay"></div>

  <t-scaffold id="scaff" scaffold-type="atom">
    <nav-toolbar>
      <div class="product-logo" >
        <a href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/logos/atom.png" id="prod_brand" />
        </a>
      </div>
    </nav-toolbar>

    <header-toolbar style="width:100%">
      <div class="horizontal layout center">
        {% if page.name %}
          <span id="selectedComponent">{{ page.displayName }}</span>
          {% if page.linkToTravis %}
            <a class="buildStatus" href="{{ page.linkToTravis }}">
              <img src="{{ page.buildStatusUrl }}" alt="Build Status">
            </a>
          {% endif %}
        {% else %}
          <span id="selectedComponent">{{ page.title }}</span>
        {% endif %}
        <span class="flex"></span>
        <span class="badge-alpha-testing">Alpha</span>
      </div>
    </header-toolbar>

    <nav-content>
      <paper-menu class="nav-panel" selected="1">
        <paper-item class="top" onClick="redirect('{{ site.baseurl }}/about/')">About</paper-item>
        <paper-submenu opened>
          <paper-item class="top menu-trigger iron-selected">
            <span class="label">Elements</span>
            <iron-icon icon="hardware:keyboard-arrow-down"></iron-icon>
          </paper-item>
          <paper-menu class="menu-content">
          {% for category in site.categories %}
            <paper-submenu {% if page.category == category.name %} opened {% endif %}>
              <paper-item class="menu-trigger {% if page.category == category.name %} iron-selected {% endif %}">
                <span class="label">{{ category.displayName }}</span>
                <iron-icon icon="hardware:keyboard-arrow-down"></iron-icon>
              </paper-item>
              <paper-menu class="menu-content" selected="{{ page.indexInCategory }}">
                {% for component in category.elements %}
                  <paper-item
                    class="component-link {% if page.name == component.name %} iron-selected {% endif %}"
                    {% if page.name == component.name %} active {% endif %}
                    data-component="{{ component.name }}"
                    onclick="redirect('{{ component.pageUrl }}')"
                    data-category="{{ category.name }}">

                    {{ component.displayName }}
                  </paper-item>
                {% endfor %}
              </paper-menu>
            </paper-submenu>
          {% endfor %}

          {% for component in site.elements %}
            {% unless component.category %}
              <paper-item
                class="component-link {% if page.name == component.name %} iron-selected {% endif %}"
                {% if page.name == component.name %} active {% endif %}
                data-component="{{ component.name }}"
                onclick="redirect('{{ component.pageUrl }}')">
                {{ component.displayName }}
              </paper-item>
            {% endunless %}
          {% endfor %}
          </paper-menu>
        </paper-submenu>
        <paper-item class="top" onClick="redirect('{{ site.baseurl }}/settings/')">Settings</paper-item>
      </paper-menu>
    </nav-content>

    <footer>
      <p>atom-project.io</p>
    </footer>

    <build-status element-ids-file-path="{{ site.baseurl }}/element-ids.json"></build-status>

    {{ content }}
  </t-scaffold>

  <script>
    window.addEventListener('WebComponentsReady', function (e) {
      var overlay = document.querySelector('.overlay');

      if (overlay) {
        overlay.style.display = 'none';
      }
    });

    //this is __BAD__, first of all it shouldn't be global function
    //second if this function doesn't do much apart from simple plain
    //redirection then it should be handled using anchor tags
    function redirect(url) {
      window.location = url;
    }
  </script>
</body>
</html>
