<!doctype html>
<html>
<head>

    {% include head.html %}

</head>
<body class="layout horizontal center center-justified">

    <div class="overlay"></div>

    <t-scaffold id="scaff" scaffold-type="atom">
        <nav-toolbar>
            <div class="product-logo" >
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/logos/atom-grey.png" id="prod_brand" />
                </a>
            </div>
        </nav-toolbar>

        <header-toolbar style="width:100%">
            <div class="horizontal layout center">
                {% if page.component_name %}
                    <span id="selectedComponent">{{ page.component_display_name }}</span>
                    <a class="buildStatus" href="{{ site.travis_base_url }}/{{ page.component_name }}">
                        <img src="{{ site.travis_base_url }}/{{ page.component_name }}.svg?branch=master" alt="Build Status">
                    </a>
                {% else %}
                    <span id="selectedComponent">{{ page.title }}</span>
                {% endif %}
                <span class="flex"></span>
                <span class="badge-alpha-testing">Alpha</span>
            </div>
        </header-toolbar>

        <nav-content>
            <t-menu>
                <t-item onClick="redirect('{{ site.baseurl }}/about')" label="About"></t-item>
                <t-submenu aria-selected class="iron-selected" label="Elements" >
                    {% for category in site.data.categories %}
                        {% assign component_pages = site.pages | where:"component_category",category.name %}
                        {% if component_pages.size > 0 %}
                            <t-submenu
                                label="{{ category.displayName }}"
                                {% if page.component_category == category.name %} aria-selected {% endif %}>
                                {% for component in component_pages %}
                                    <t-item
                                        class="component-link"
                                        label="{{ component.component_display_name }}"
                                        data-component="{{ component.component_name }}"
                                        onclick="redirect('{{ site.baseurl }}/{{ component.component_display_name | slugify  }}')"
                                        data-category="{{ category.name }}"
                                        {% if page.component_category == category.name and page.component_name == component.component_name %} aria-selected {% endif %}>
                                    </t-item>
                                {% endfor %}
                            </t-submenu>
                        {% endif %}
                    {% endfor %}
                </t-submenu>
                <t-item onClick="redirect('{{ site.baseurl }}/settings')" label="Settings"></t-item>
            </t-menu>
        </nav-content>

        <build-status element-ids-file-path="{{ site.baseurl }}/element-ids.json"></build-status>

        {{ content }}
    </t-scaffold>

    <script>
        window.addEventListener('WebComponentsReady', function (e) {
            var overlay = document.querySelector('.overlay');

            if (overlay) {
                overlay.style.display = 'none';
            }
        });

        //this is __BAD__, first of all it shouldn't be global function
        //second if this function doesn't do much apart from simple plain
        //redirection then it should be handled using anchor tags
        function redirect(url) {
            window.location = url;
        }
    </script>
</body>
</html>