<!doctype html>
<html>
<head>

    {% include head.html %}

</head>
<body class="layout horizontal center center-justified">

    <div class="overlay"></div>

    <t-scaffold id="scaff" scaffold-type="atom">
        <nav-toolbar>
            <div class="product-logo" >
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/logos/atom-grey.png" id="prod_brand" />
                </a>
            </div>
        </nav-toolbar>

        <header-toolbar style="width:100%">
            <div class="horizontal layout center">
                {% if page.component_name %}
                    <span id="selectedComponent">{{ page.component_display_name }}</span>
                    <a class="buildStatus" href="{{ site.travis_base_url }}/{{ page.component_name }}">
                        <img src="{{ site.travis_base_url }}/{{ page.component_name }}.svg?branch=master" alt="Build Status">
                    </a>
                {% else %}
                    <span id="selectedComponent">{{ page.title }}</span>
                {% endif %}
                <span class="flex"></span>
                <span class="badge-alpha-testing">Alpha</span>
            </div>
        </header-toolbar>

        <nav-content>
            {% include menu.html %}
        </nav-content>

        {{ content }}
    </t-scaffold>

    {% include footer.html %}

    <script>
        window.addEventListener('WebComponentsReady', function (e) {
            var overlay = document.querySelector('.overlay');

            if (overlay) {
                overlay.style.display = 'none';
            }
        });
    </script>

</body>
</html>