<!-- copied from https://github.com/Polymer/highlightjs-element -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="highlightjs-import.html">
<link rel="import" href="syntax-colors.html">

<dom-module id="highlightjs-element">
  <template>
    <style include="github-gist-theme"></style>
    <style>:host { display: block; }</style>
    <!-- we need the `xml` class for better highlighting,
    it is not provided by the element by Polymer -->
    <pre><code id="content" class="xml hljs"></code></pre>
  </template>
  <script>
    Polymer({
      is: 'highlightjs-element',
      properties: {
        /**
         * The code text to syntax highlight. If missing, a `<template>` should
         * be used in the light dom that provides the markup to highlight. See the
         * example above.
         */
        text: {
          type: String,
          notify: true,
          observer: '_textChanged'
        },
      },

      _textChanged: function() {
        this.$.content.innerHTML = hljs.highlightAuto(this.text || '').value;
      },

      ready: function() {
        // Ensures proper local DOM CSS scoping for elements created by
        // higlight JS. Needed because it doesn't know about Polymer.dom();
        this.scopeSubtree(this.$.content, true);

        if (!this.text) {
          if (Polymer.dom(this).firstElementChild &&
              Polymer.dom(this).firstElementChild.localName === 'template') {
            this.text = Polymer.dom(this).firstElementChild.innerHTML;
          } else {
            this.text = Polymer.dom(this).innerHTML;
          }
        }
      }
    });
  </script>
</dom-module>
