html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    color:#333;
    font-family: "Open Sans";
}

/*Styles for login page*/
canvas {
    display: block;
    vertical-align: bottom;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: #eee;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 1;
}

#particles-js {
    background-color: #07c5f2;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.signin-box {
  text-align: center;
  top: 50%;
  position: absolute;
  left: 50%;
  -moz-transform:translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%);/* Chrome, Safari, Opera */
  transform: translate(-50%,-50%);
}

.signin-box .heading {
    margin-bottom: 50px;
    color: white; 
}
/*End style for login page*/

.badge-alpha-testing {
  background-color: rgba(0, 0, 0, 0.28);
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 11px;
  padding: 5px 10px;
  line-height: 1;
  color: #fff;
}

#particles-js {
    width:100%;
    height:100%;
}

#idIframe {
    border: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
}
#spinner {
    z-index:100;
}


#mainContainer #main .main{
    background-color:#fff;
    padding:10px 20px;
    box-sizing: border-box;
    overflow:auto;
}
t-button.btn-green  {
  background: #07c5f2;
  color: #fff;
}
t-button.btn-white paper-button {
    padding:5px 10px;
}
t-button.btn-white  {
  background: #fff;
  color: #07c5f2;
  margin:0 25px;
}
.signin-box t-button.btn-white.btn-white, 
.signin-box t-button.btn-white.btn-white paper-button {
  display:block;
}

ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

.margin-20 {
    margin:20px;
}

#error {
    margin-top: 20px;
    color: white;
}
.standardPadding {
    padding: 0 16px;
}
#subPanel>.content {
    height: 100%;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}
#subPanel #elementContent.content {
    overflow:hidden;
    padding:0;
}
#toggle-section > * {
margin:10px 0;
}
/*New scaffold css*/
#mainPanel #mainContainer {
    overflow:hidden;
}
.designTab {
	padding: 20px;
    max-width: 624px;
    margin: 0 auto;
    overflow: auto;
}

.designTab .markdown-html {
	padding-left: 20px;
}

device-view {
display:none;
}
.demo-canvas device-view {
display:block;
}
#tablet iron-icon,
#phone iron-icon {
    -webkit-transition: 0.3s ease all;
          transition: 0.3s ease all;
}
#tablet.landScaped iron-icon,
#phone.landScaped iron-icon{
   -webkit-transform:rotate(-90deg);
       -ms-transform:rotate(-90deg);
           transform:rotate(-90deg);
}
.property-panel-Header {
    border-bottom:1px solid #eee;
}
.property-panel-Header t-button {
    border-right:1px solid #eee;
    color:#07c5f2;
}
.property-panel-Header t-button:last-child {
    border-right:0;
}

#themeForm {
    max-width:440px;
    margin:0 auto;
}

/* authored by Ajinkya */

.buildStatus {
  padding-left: 15px;
  margin-bottom: -5px;
}

.property-panel-Header t-button {
    color: #bbb;
}

.property-panel-Header t-button[active] {
    transition: all 0.3s;
    background-color: #eee;
}

.designTabWrapper {
    overflow: auto;
}

.designTab ul {
  padding-left: inherit;
  list-style: initial;
}

/***********************/