html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color:#333;
  font-family: "Open Sans";
}

paper-tab, paper-item {
  font-family: inherit !important;
}

/*Styles for login page*/
canvas {
  display: block;
  vertical-align: bottom;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #eee;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 1;
}

.signin-box {
  text-align: center;
  top: 50%;
  position: absolute;
  left: 50%;
  -moz-transform:translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%);/* Chrome, Safari, Opera */
  transform: translate(-50%,-50%);
}

.signin-box .heading {
  margin-bottom: 50px;
  color: white;
}

.signin-box .heading img {
  height: 50px;
}

/*End style for login page*/

.badge-alpha-testing {
  background-color: rgba(0, 0, 0, 0.28);
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 11px;
  padding: 5px 10px;
  line-height: 1;
  color: #fff;
}

#particles-js {
  width:100%;
  height:100%;
}

#idIframe {
  border: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
}

#spinner {
  z-index:100;
}

#mainContainer #main .main {
  background-color:#fff;
  padding:10px 20px;
  box-sizing: border-box;
  overflow:auto;
}

t-button.btn-green  {
  background: #07c5f2;
  color: #fff;
}

t-button.btn-white paper-button {
  padding: 15px 18px;
}

t-button.btn-white  {
  background: #07c5f2;
  color: #fff;
  margin:0 25px;
}

.signin-box t-button.btn-white.btn-white,
.signin-box t-button.btn-white.btn-white paper-button {
  display:block;
}

ul {
  margin:0;
  padding:0;
  list-style-type:none;
}

.margin-20 {
  margin:20px;
}

#error {
  margin-top: 20px;
  color: white;
}

.standardPadding {
  padding: 0 16px;
}

#subPanel > .content {
  height: 100%;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

#subPanel #elementContent.content {
  overflow:hidden;
  padding:0;
}

/*New scaffold css*/

#mainPanel #mainContainer {
  overflow:hidden;
}

.designTab {
	padding: 20px;
  max-width: 624px;
  margin: 0 auto;
  overflow: auto;
}

.designTab .markdown-html {
	padding-left: 20px;
}

.property-panel-Header {
  border-bottom:1px solid #eee;
}

.property-panel-Header t-button {
  border-right:1px solid #eee;
  color:#07c5f2;
}

.property-panel-Header t-button:last-child {
  border-right:0;
}

#themeForm {
  max-width:440px;
  margin:0 auto;
}

/* authored by Ajinkya */

.buildStatus {
  padding-left: 15px;
  margin-bottom: -5px;
}

.designTabWrapper {
  overflow: auto;
}

.designTab ul {
  padding-left: inherit;
  list-style: initial;
}

t-item[aria-selected] label {
   font-weight: bold;
}

pre {
  margin: 0;
}

build-status {
  padding: 0 16px;
}

.nav-panel,
.nav-panel paper-menu {
  padding: 0;
}

.nav-panel paper-menu.menu-content {
  margin-left: 15px;
}

.nav-panel paper-item:focus:before,
.nav-panel paper-item:focus:after {
  background-color: transparent !important;
}

.nav-panel paper-item {
  font-size: 13px;
  color: #555555;
}

.nav-panel paper-item .label {
  flex: 1 1 auto;
}

.nav-panel paper-item iron-icon {
  flex: 0 0 auto;
}

.nav-panel .top {
  border-top: 1px solid #bbbbbb;
}

.product-logo img {
  height: 25px;
}
/***********************/
