@charset "UTF-8";

@font-face {
  font-family: "tavisca-product-suite";
  src:url("../fonts/tavisca-product-suite.eot");
  src:url("../fonts/tavisca-product-suite.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tavisca-product-suite.woff") format("woff"),
    url("../fonts/tavisca-product-suite.ttf") format("truetype"),
    url("../fonts/tavisca-product-suite.svg#tavisca-product-suite") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tavisca-product-suite" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "tavisca-product-suite" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.pagination i{
  font-family: "tavisca-product-suite" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.i-repeat:before {
  content: "m";
}
.i-sound:before {
  content: "n";
}
.i-question:before {
  content: "r";
}
.i-question-circle:before {
  content: "a";
}
.i-arrow-down-type-3:before {
  content: "d";
}
.i-arrow-down-type-1:before {
  content: "b";
}
.i-arrow-down-type-2:before {
  content: "c";
}
.i-arrow-down-type-3-1:before {
  content: "e";
}
.i-arrow-left-type-1:before {
  content: "f";
}
.i-arrow-right-type-2:before {
  content: "g";
}
.i-arrow-up-down:before {
  content: "h";
}
.i-arrow-up-type-1:before {
  content: "i";
}
.i-cross:before {
  content: "k";
}
.i-cross-type-2:before {
  content: "l";
}
.i-dashboard:before {
  content: "o";
}
.i-error:before {
  content: "p";
}
.i-info:before {
  content: "q";
}
.i-info-type1:before {
  content: "s";
}
.i-pencil:before {
  content: "t";
}
.i-plus-sign:before {
  content: "u";
}
.i-reports:before {
  content: "v";
}
.i-seach:before {
  content: "w";
}
.i-swap-1:before {
  content: "x";
}
.i-swap-2:before {
  content: "y";
}
.i-user:before {
  content: "A";
}
.i-export:before {
  content: "B";
}
.i-swap-3:before {
  content: "j";
}
.i-bell:before {
  content: "z";
}
.i-arrow-left-type-2:before {
  content: "C";
}
.i-arrow-left-type-2:before {
  content: "C";
}
.i-arrow-right-type-3:before {
  content: "E";
}
.i-arrow-right-type-3-1:before {
  content: "F";
}
.i-arrow-left-type-3-1:before {
  content: "G";
}
.i-arrow-left-type-4:before {
  content: "H";
}
.i-arrow-right-type-4:before {
  content: "I";
}
.i-calendar:before {
  content: "J";
}
.i-filter:before {
  content: "K";
}
.i-arrow-left-type-5:before {
  content: "L";
}
.i-filter-1:before {
  content: "M";
}
.i-arrow-right-type-5:before {
  content: "N";
}
.i-trash-bin:before {
  content: "O";
}
.i-gear-setting-2:before {
  content: "P";
}
.i-photo-picture:before {
  content: "Q";
}
.i-youtube-two:before {
  content: "S";
}
.i-trash:before {
  content: "R";
}
.i-check-mark-2:before {
  content: "T";
}
.i-document:before {
  content: "U";
}
.i-vertical-lines:before {
  content: "V";
}
.i-resize:before {
  content: "W";
}
.i-move-arrow:before {
  content: "X";
}
.i-duplicate:before {
  content: "Y";
}
.i-map-marker-1:before {
  content: "Z";
}
.i-form:before {
  content: "0";
}
.i-booking:before {
  content: "2";
}
.i-carausal:before {
  content: "3";
}
.i-map:before {
  content: "4";
}
.i-text-box:before {
  content: "5";
}
.i-video:before {
  content: "6";
}
.i-offer:before {
  content: "7";
}
.i-deal:before {
  content: "8";
}
.i-3dots:before {
  content: "9";
}
.i-circle-filled:before {
  content: "#";
}
.i-circle-filled-outline:before {
  content: "$";
}
.i-ractangle:before {
  content: "!";
}
.i-radio-btn-active:before {
  content: "\"";
}
.i-radio-btn-normal:before {
  content: "%";
}
.i-ellipsis:before {
  content: "'";
}
.i-compose:before {
  content: "(";
}
.i-search:before {
  content: ")";
}
.i-diff-added:before {
  content: "+";
}
.i-diff-removed:before {
  content: "*";
}
.i-plus:before {
  content: ",";
}
.i-dash:before {
  content: "-";
}
.i-calendar-1:before {
  content: ".";
}
.i-clock:before {
  content: "/";
}
.i-check-mark-2-1:before {
  content: ":";
}
.i-fighter-jet:before {
  content: "<";
}
.i-plane-airport:before {
  content: ";";
}
.i-tick2:before {
  content: "&";
}
.i-version-control:before {
  content: "=";
}
.i-checkbox-active:before {
  content: ">";
}
.i-chevron-down:before {
  content: "?";
}
.i-chevron-left-thick:before {
  content: "D";
}
.i-open-door-car:before {
  content: "@";
}
.i-ac:before {
  content: "[";
}
.i-air-transport:before {
  content: "]";
}
.i-auto-transmission:before {
  content: "^";
}
.i-bar:before {
  content: "_";
}
.i-gps:before {
  content: "`";
}
.i-fitness:before {
  content: "{";
}
.i-internet:before {
  content: "|";
}
.i-laugage:before {
  content: "}";
}
.i-maual-transmission:before {
  content: "~";
}
.i-resturant:before {
  content: "\\";
}
.i-seats:before {
  content: "\e000";
}
.i-parking:before {
  content: "\e001";
}
.i-petrol:before {
  content: "\e002";
}
.i-swimming-pool:before {
  content: "\e003";
}
.i-arrow-down:before {
  content: "\e004";
}
.i-arrow-up:before {
  content: "\e005";
}
.i-airplane:before {
  content: "\e006";
}
.i-cart-shopping-1:before {
  content: "\e007";
}
.i-exclamation-circle:before {
  content: "\e009";
}
.i-call-phone:before {
  content: "\e00f";
}
.i-twitter:before {
  content: "\e008";
}
.i-google-plus:before {
  content: "\e00a";
}
.i-linkedin:before {
  content: "\e00b";
}
.i-money-banknote:before {
  content: "\e00c";
}
.i-facebook:before {
  content: "\e00d";
}
.i-rss-two:before {
  content: "\e00e";
}
.i-rupee:before {
  content: "\e010";
}
.i-twitter-1:before {
  content: "\e011";
}
.i-youtube:before {
  content: "\e012";
}
.i-speaker-louder:before {
  content: "\e013";
}
.i-speaker-off:before {
  content: "\e014";
}
.i-star:before {
  content: "\e015";
}
.i-thumbnails:before {
  content: "\e016";
}
.i-list:before {
  content: "\e017";
}
.i-commercial:before {
  content: "\e018";
}
.i-log-in:before {
  content: "\e019";
}
.i-log-out:before {
  content: "\e01a";
}
.i-mail:before {
  content: "\e01b";
}
.i-print:before {
  content: "\e01c";
}
.i-power-off:before {
  content: "\e01d";
}
.i-refresh:before {
  content: "\e01e";
}
.i-hotel:before {
  content: "\e01f";
}
.i-instagram:before {
  content: "\e020";
}
.i-pinterest:before {
  content: "\e021";
}
.i-wordpress:before {
  content: "\e022";
}
.i-folder:before {
  content: "\e023";
}
.i-file:before {
  content: "\e024";
}
.i-image:before {
  content: "1";
}
.i-audio:before {
  content: "\e025";
}
.i-pdf:before {
  content: "\e026";
}
.i-font:before {
  content: "\e027";
}
.i-css:before {
  content: "\e029";
}
.i-html:before {
  content: "\e02a";
}
.i-js:before {
  content: "\e028";
}
.i-aspx-1:before {
  content: "\e02b";
}
.i-aspx:before {
  content: "\e02c";
}
.i-file-1:before {
  content: "\e02e";
}
.i-image-1:before {
  content: "\e02f";
}
.i-audio-1:before {
  content: "\e030";
}
.i-noun-6621-cc:before {
  content: "\e023";
}
.i-file-2:before {
  content: "\e02d";
}
.i-music:before {
  content: "\e031";
}
